#sidebar ul {    
    margin: 0;
    padding: 0;
    width: 14%;
    background-color: #333;
    border: 1px solid #f9dfdc;
    position: fixed;
    height: 100%;    
    font-size: 15px;
    margin-top: 0%;
}

#sidebar li {
    display: block;
    color: #EF5D80;
    padding: 8px 8px;
    text-decoration: none;
}

#sidebar li a {
    display: block;
    color: #EF5D80;
    padding: 8px 0px;
    text-decoration: none;
}

#sidebar li a.active {
    background-color: #f9dfdc;
  
}

#sidebar li a:hover:not(.active) {
    /*background-color: #555;*/
    background-color: #f9dfdc;
    
}